@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>@ViewBag.Message</h2>
        <h2>@ViewBag.Foo Nothing to see here</h2>
    </div>
</body>
</html>
